:root {
  --color-dark: #60695cff;
  --background-light: #d6f9ddff;

  /* CSS HEX */
  --nyanza: #d6f9ddff;
  --light-green: #99f7abff;
  --pistachio: #abdf75ff;
  --ebony: #60695cff;
  --columbia-blue: #c5d6d8ff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;

  background-color: var(--background-light);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--color-dark);
}

.hidden {
  display: none;
}

.form-button {
  display: block;
  position: relative;
  padding: 1.5em 3em;

  appearance: none;
  border: 0;
  background: transparent;
  color: var(--color-dark);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: var(--color-dark) 1px solid;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  &:hover {
    background: rgba(100, 0, 0, 0.03);
  }

  &:active {
    background: rgba(100, 0, 0, 0.099);
  }
}

.disabled-label:disabled+label {
  opacity: 0.5;
  cursor: not-allowed;
  background: rgba(100, 0, 0, 0.150);
}
